<test>
    <component></component>
    <div class="flexbe-action-buttons edit-button">
        <input />
    </div>

    <!-- HTML comment -->

    <div class="project-card flexbe-white-card shadow large rounded hoverable { clsx({ hover: (state.inHover || state.inDropdown) }) }"
         if={ state.view !== 'table' }
         onmouseenter={ () => cardHover(true) }

         onmouseleave={ () => cardHover(false) }
         onpointerdown={ onPointerDown }
         onclick={ goToPages }
    ></div>
    <div
        validattr
        nextattrwillbeinvalid="-->"thisshouldbeinvalid="<--"

        thisshouldbeok=ok

        validexpression={ expression() }
        validmixedexpression="test { expression() } test"

        id="some_{ state.id }"
        attr1="number in attribute name"
        attr2={ expression }
        attr3="{ expressionInQuotes }"
        attr4='{ expressionInQuotes }'

        "invalid"
        'invalid'

        "
        '
        =
    ></div>

    <script>
        // JS comment

        export default {
            onBeforeMount() {
                console.log("hello");
            },
            expression() {
                return 12;
            }
        }
    </script>
</test>