<component>
    <div str-attr="prova" expr-attr={ prova => 12 } mixed-attr="value { getExtraValue() } other" style="color: red; height: 23px;">{
        getText()
    }</div>

    <style>
        :host {
            display: block;
        }
    </style>

    <script>
        export default {
            state: {
                prova: 12
            },
            other: 12,
            getText() {
                const test = 12;
                this.
            }
        }
    </script>
</component>